

// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


// VARIABLES

$primary-color: #1a1a1a;
$secondary-color: #4dffff;
$tertiary-color: #ccc;
$quaternary-color: #000;
$quinary-color: #fff;
$senary-color: #e6e6e6;



// STYLES

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

html {
    font-size: 80.5%;

}
.logo-cinco{
    color: $secondary-color
}

.home-card{
    animation: fadeInUp 1s;
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    } 
    

    
}

a {
    text-decoration: none;
    color: $primary-color;
}

h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
}

li{
    font-size: 1.6rem;
}


#root{

    background: cover;
    background-size: cover;
    background-color: index($list: 1, $value: -2);
    
}

.nav-brand{
    cursor: pointer;
    &:hover{
        color: #504dff;
        animation: bounce 1s;  
    }
}




.search-bar {
    width: 500px;
    margin-right: 5px;
}


.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 10px;
}

body {
    background-color: #f1f1f1; /* Very light grey */
}

.dropdown-menu {
    width: 300px;
    margin-right: 5px;
    max-height: 300px;
    overflow-y: scroll;

    .search-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        img{
            width: 50px;
            height: 50px;
            margin-right: 5px;
        }
        .search-items{
           display: flex;
           width: 100%;
           justify-content: space-around;
        }
    }
}
.active-stat{
    background-color: #f1f1f1;
    color: #504dff;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}
.sidebar {
    background-color: #f1f1f1;
    text-align: center;
    width: fit-content; 
    z-index: 100;
    height: fit-content; 
    padding: 25px;

}


#page-content-wrapper {
    min-width: 0;
    width: 100%;
}
.inactive {
    display: none;
}

.stock-info{
    h3{
        cursor: pointer;
    }
}
.disabled-input {
    pointer-events: none;
    background-color: #eee;
    color: 'muted';

}
.tool-tip {
    font-size: 20px;
}
.tool-tip-header {
    font-size: 24px;
    font-weight: bold;
}
.tool-tip:hover {
    cursor: pointer;
}


.input-bar {
    width: 50%;
    margin-right: 5px;
}

.statement, .info{

    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
        color: #504dff;
    }
    &.active {
        color: #504dff;
    }
}


.spinner-border {
    width: 10rem;
    height: 10rem;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f1f1f1;
}
.particles {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.80; 
  }

.custom-card {
    // add shadow
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    // add a light grey  color
    background-color: #f1f1f1;
    .card-items-custom{
    //   increase the border thickness
    border-top: 1px solid #ccc;
    
 

    }
    .list-group-item {
        background: #f1f1f1;
        // increase the bottom and top border thickness
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        }
    
}

.stock-volume{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    .lin-reg-card{
        width: fit-content;
    }

}



.nav-bar-custom{
    background: transparent;
    box-shadow: 0 10px 12px 0 rgba(0,0,0,0.2);
    // add heavy bottom box shadow
    box-shadow: 0 15px 12px 0 rgba(0,0,0,0.2);
    .nav-bar{
        opacity: 1.8;
        z-index: 2;
    }

}

#tsparticles {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    z-index: -10;

}

#patricles{
    background-image: url("./assets/city-background.jpeg");
    // background-color: #1a1a1a;
}

.add-portfolio-modal{

    .modal-header{
        background-color: #f1f1f1;
        border-bottom: 1px solid #ccc;
        .modal-title{
            font-size: 25px;
            font-weight: bold;
        }
    }
}

.drop-down-custom{
    &.active{
        input{
        border-bottom: 1px solid #ccc;
        width: 20vw;
        }
    }

}

.fama-french-info{
    li:hover{
        background-color: #f1f1f1;
        cursor: pointer;
        
    }
}

